<!DOCTYPE html>
<html lang="mk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Courses</title>
</head>
<body>
  <h1>All Courses</h1>
  <ul>
    <% courses.forEach(course => { %>
      <li><%= course.name %></li>
    <% }); %>
  </ul>
</body>
</html>
